*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    --sec-color:rgb(65, 65, 65);
    --sec1-color:rgb(189, 189, 189);
}



.container{


    max-width: 100%;
    min-width: 400px;
    
    height: 100%;
    background-color: yellowgreen;
       
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    

    
}

header{
    height: 100px;
    width: 100%;
    background:green ;
    display: flex;
    
    flex-wrap: wrap;
    align-content: center;
    

    
}

#menu-btn{
    padding:10px;
    border-radius: 5px;
    inset: 0;
    background: rgba(1, 1, 1, 0.3);
    border: none;
 
}
#menu-btn:hover{
    color: red;
    background: black;
    cursor: pointer;
    
}
#menu-btn:active{
    color:white;
    background: black;
}

 #menu-itm{
    color: white;
    margin-top: 70px;
    width: fit-content;
    position: absolute;
    font-size: 30px;
    border-radius: 5px;
    padding: 5px;
    line-height: 1.5em;
    display: none;
    background: rgba(32, 16, 67, 0.9);
    transition: 0.2s;
    cursor: pointer;
    
}


#menu-itm span:hover{

    text-shadow: 0px 0px 5px  white;
    cursor: pointer;
    
}




















.sec-1{

    
    height: 400px;
    width: 100%;
    
    margin:5px;
    border-radius: 5px;
    background: lightblue;
    
}
section{
    border-radius: 5px;
}

section:not([class]){

    margin: 5px ;
   
   
    min-height: 400px;
    max-height: fit-content;
   
    min-width: 100px;
    flex: 1 0 300px;

    background: yellow;
    font-size: 36px;
    padding: 5px;
    
    
    
}

.sec-2{

    height: 400px;
    width: 100%;
    
    margin:5px;
    border-radius: 5px;
    background: lightblue;
    
}

footer{
    height: 100px;
    width: 100%;
    background:green ;
}


h1 + code{

    font-size: 50px;
    font-weight: bolder;
}

input[name='language']:checked +label{
 
       font-size: large;
    

}
  
input[name='language']:checked +label::before{
 
   content: '-->';
}

input[name='language']:not(:checked) +label::after{
 

    content:' X';
 

}

p::first-letter{



    font-size: 30px;
    color: violet;
    
}

:target{
    
    color: red;
}

section:not(:target)p{

    color: gray;
}

